* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #1f2937;
}

header ul {
  list-style-type: none;
  overflow: hidden;
}

header a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 1rem;
}

header #header-logo {
  font-size: 24px;
  color: #f9faf8;
  float: left;
}

header .header-link {
  font-size: 18px;
  color: #e5e7eb;
  float: right;
}

#hero-container {
  background-color: #1f2937;
  display: flex;
  padding: 5rem;
  justify-content: center;
  gap: 100px;
}

#hero-main {
  padding: 1rem;
  min-width: 500px;
  width: 500px;
  height: 250px;
}

#hero-main-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

#hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.button {
  background-color: #3882f6;
  color: #f9faf8;
  text-align: center;
  margin-top: 10px;
  padding: 5px;
  width: 100px;
  border-radius: 5px;
}

#hero-image {
  background-color: #6d747e;
  color: #dce1e7;
  min-width: 500px;
  width: 600px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
