* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #1f2937;
}

header ul {
  list-style-type: none;
  overflow: hidden;
}

header a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 1rem;
}

header #header-logo {
  font-size: 24px;
  color: #f9faf8;
  float: left;
}

header .header-link {
  font-size: 18px;
  color: #e5e7eb;
  float: right;
}

#hero-container {
  background-color: #1f2937;
  display: flex;
  padding: 5rem;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}

#hero-main {
  padding: 1rem;
  min-width: 500px;
  width: 500px;
  height: 250px;
}

#hero-main-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

#hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.button {
  background-color: #3882f6;
  color: #f9faf8;
  text-align: center;
  margin-top: 10px;
  padding: 5px;
  width: 100px;
  border-radius: 5px;
}

#hero-image {
  background-color: #6d747e;
  color: #dce1e7;
  min-width: 500px;
  width: 600px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#information-section {
  padding: 3rem;
}

#information-heading {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
}

#information-container {
  padding: 3rem;
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.information-image-container {
  width: 150px;
  height: 200px;
}

.information-image {
  height: 150px;
  width: 150px;
  border: 5px solid #3882f6;
  border-radius: 20px;
}

.information-subtext {
  color: #6d747e;
  text-align: center;
}

#quote-container {
  background-color: #e5e7eb;
  padding: 100px 20%;
  overflow: hidden;
}

#quote-text {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
  text-align: justify;
  max-width: 800px;
  margin: auto;
}

#quote-subtext {
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
  color: #1f2937;
  text-align: right;
  padding-right: 15%;
}

#action-container {
  background-color: #3882f6;
  color: white;
  display: flex;
  justify-content: space-evenly;
  margin: 75px 200px;
  padding: 50px 25px;
  border-radius: 10px;
}

#action-container .button {
  border: 2px solid white;
}
